@keyframes animate {
    from {
        transform: translateX(-250px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animate-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-250px);
    }
}

@keyframes scroll {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scroll3 {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scroll4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px);
    }
}

@keyframes noti {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}
